<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Card Stack</title>
		<link href="stylesheets/min/reset.min.css" media="screen" rel="stylesheet" type="text/css">
		<link href="stylesheets/css/vendor/kube.css" media="screen" rel="stylesheet" type="text/css">
		<link href="stylesheets/min/main.min.css" media="screen" rel="stylesheet" type="text/css">
		<script src="lib/angular.min.js"></script>
		<script src="js/controllers.js"></script>
	</head>

	<body>
		<div class="units-row banner">
			<div class="unit-100 content">
				<p>Card Stack</p>
			</div>
		</div>

		<div ng-app="cardApp">
			<div class="units-row intro">
				<div class="content unit-centered">
					<div class="unit-33">
						<img src="img/click.svg"/>
						<h3>1. Choose your modules</h3>
					</div>
					<div class="unit-33">
						<img src="img/go.svg"/>
						<h3>2. Hit the go button</h3>
					</div>
					<div class="unit-33">
						<img src="img/learn.svg"/>
						<h3>3. Learn!</h3>
					</div>
				</div>
			</div>


			<div class="content" ng-controller="CardSelectorController">
				<ul class="blocks-4" id ="cards">
					<li class="card default" ng-repeat="card in cards" ng-click="toggle(card)" ng-class="{'selected':card.selected}">
						<h2>{{card.code}}</h2>
					</li>
				</ul>

				<button class="btn" ng-click="proceed()" ng-model="button" ng-disabled="!canContinue">Go</button>
			</div>
		</div>
	</body>

</html>
