.card {
	border: 1px solid;

	text-align: center;

	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	cursor:	default;
	
	-webkit-transition: 0.8s;
	-webkit-transform-style: preserve-3d;	
}

.default {
	border-color: $colour-app-accent-three;
	background: $colour-app-quadernary;
}

.selected {
	border-color: $colour-app-accent-two;
	background: $colour-app-primary;
	.title {
		color: $colour-txt-tertiary;
	}
}

.flip {
	-webkit-transform: rotateX(180deg);
}
	
.front, .back {
	-webkit-backface-visibility: hidden;
}

.back {
	-webkit-transform: rotateX(180deg);
}