$colour-app-primary: #d42b1e;
$colour-app-secondary: #f4f4f4;
$colour-app-tertiary: #e8e8e8;
$colour-app-quadernary: white;

$colour-txt-primary: #d42b1e;
$colour-txt-secondary: #2f2f2f;
$colour-txt-tertiary: white;

$colour-app-accent-one: white;
$colour-app-accent-two: #a21c11;
$colour-app-accent-three: #d1cfcf;